.home-layout--footer {
  padding-bottom: 60px;
  text-align: center;
  position: relative;
  background-color: #fff;
}

.apply-color {
  color: red;
}

.container {
  @apply w-full pl-4 pr-4;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  @apply w-[90px] h-[35px] cursor-pointer mb-1 mx-auto;
}

.linksWrapper {
  @apply m-0 leading-6 text-xs font-normal;

  font-family: Public sans, sans-serif;
}

.copyright {
  color: black;
}

.container-center {
  @apply flex items-center justify-center;
}

.icon:not(style) {
  margin-right: 0.25rem;
  user-select: none;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.25rem;
  width: 20px;
  height: 20px;
  color: black;
}
